@media screen and  (max-width: 640px)
{

   body{
      box-sizing: border-box;
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
   }
   #header{
      display: flex;
      justify-content: start;
     border: 1px solid;
     width: 50%;
     align-items: start;
   }

   #topLink{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: start;
   }
   #title{
      display: none;
   }

   #logoImage{
      size: 5px;
   }

   #heroImage{
      width: 50%;
      height: 400px

   }

   #welcome{
      font-size: large;
   }

   #browseButton{
      width: 150px;
   }

   #firstMenuBox{
      width: 50%;
      justify-content: center;
      align-items: center;
   }

   #secondMenuBox{
      width: 100%;
      border: 1px solid;
      height: 400px;
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      gap: 5px;
   }

   #about{
      display: flex;
      flex-direction: column;
      width: 50%;
   }

   #intro{
      font-size: small;
      justify-content: center;
      align-items: center;
      width: 80%;
      text-wrap: wrap;
      line-height:20px;
   }

   #nav{
      display: none;
   }

   #dropdown{
   border: 1px solid;

   }

   #img{
      width: 50%;
   }

   footer{
      width: 50%;
   }

   #contact{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
   }

   #copywrite{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   #copywrite p a {
      display: flex;
      justify-content: center;
      align-items: center;
     
   }

   #middleNav{
      size: 40%;
   }
}