@media screen and  (max-width: 640px)
{
   #header{
     border: 1px solid;
     width: 50%;
   }

   #topLink{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: start;
   }
   #title{
      display: none;
   }

   #logoImage{
      size: 5px;
   }

   #heroImage{
      width: 47%;
      height: 400px

   }

   #welcome{
      font-size: large;
   }

   #browseButton{
      width: 150px;
   }

   #firstMenuBox{
      width: 47%;
      justify-content: center;
      align-items: center;
   }

   #secondMenuBox{
      width: 40%;
      display: grid;
   }

   #about{
      display: flex;
      flex-direction: column;
      width: 50%;
   }

   #intro{
      font-size: small;
      justify-content: center;
      align-items: center;
      width: 80%;
      text-wrap: wrap;
   }
}