/* General Styles */
body {
    background-color: #3E2723;
    color: #F5F5DC;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1.75rem; /* space-y-7 equivalent */
    box-shadow: 10px 20px 110px 20px black inset ;


   
}

/* Header and Navbar */
#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;

  @media (min-width: 320px){
    display: flex;
    height: 60px;
    width: 90%;
    gap: 100px;
  }

#topLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 12px;
    width: 280px;

    @media (min-width: 320px) {
       width: 20%;
    }

    h1{
        font-size: 20px;

        @media (min-width: 320px) {
            font-size: 10px;
        }
    }

    img{
        border-radius: 50%;
        height: 30px;

        @media (min-width: 320px){
            height: 30px;
        }
    }
}

#nav{
    height: 30px;
    display: block;
 

    .desktopmenu{
      display: flex;
      gap: 10px;
      margin: 0;
      padding: 0;
   

    }

        li{
            display: flex;
            list-style: none;
            justify-content: space-between;
            gap: 10px;
          
        }

        a{
            text-decoration: none;
            color: white;
            display: flex;
            gap: 10px;
        }
   
}

 
.menuIcon{
    display: flex;
}
}



#title {
    font-weight: 700; /* font-bold */
    font-size: 1.5rem; /* text-2xl */
}

/* Hero Section */
#heroImage {
    background-size: cover;
    margin-bottom: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* space-y-4 */
    position: relative;
    opacity: 0.8;

    @media(min-width:320px){
        border-radius: 12px;
        height: 20rem;
        width: 90%;
        
    }

    #welcome {
        font-size: 3rem; /* text-5xl */
        color: orange;
        font-weight: 700; /* strong */

        @media(min-width: 320px){
            font-size: 20px;
            color: white;
        }
    }

    #browseButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 0.5rem; /* rounded-lg */
        height: 2.75rem; /* h-11 */
        width: 13rem; /* w-52 */
        font-weight: 700; /* font-bold */
        transition: transform 0.3s; /* transition-transform duration-300 */

        @media(min-width: 320px){
            width: 100px;
            height: 20px;
            font-size: 7px;
            border-radius: 2px;
            border: none;
            background-color: orange;
        }

        a{
            text-decoration: none;
            color: black;
        
        }


    }


    #browseButton:hover {
        transform: scale(1.1); /* hover:scale-110 */
    }
    
}




/* Overlapping Menu Box */
#firstMenuBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    @media (min-width: 320px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        gap: 5px;
        align-items: center;
        height: auto;
        width: 90%;
        place-items: center;
       

    }

    .numbers{   
        background-color: rgba(206, 206, 206, 0.037);
       width: 150px;
       border-radius: 5px;
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;

       @media (min-width: 320px)
       {
        width: 125px;
       }

       i{
        font-size: 26px;
       }

       p{
        font-style: italic;
        color: gray;
       }

       @media (min-width:320px) {
        
       }
    }


}

/* About Section */
#cards{
    margin-top: 0.5rem; /* mt-2 */
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.25rem; /* gap-5 */
    align-items: center;
    margin-bottom: 5rem; /* mb-20 */

    @media (min-width: 320px) {
        grid-template-columns: repeat(1, 1fr);
        width: 250px;
        margin:20px;
        padding: 20px;
        border-radius: 12px;
        background-color: rgba(128, 128, 128, 0.022);
    }

    img{
        width: 450px;

        @media (min-width: 320px) {
            width: 200px;
            height: 125px;
           
        }

    }

    p{
        text-align: center;
        text-wrap: wrap;
        font-weight: 100;
    }

    .card{
        display: block;
        text-align: center;
       

        @media (width: 320px) {

           
        }
    }

    button{
        width: 100px;
        height: 30px;
        display: block;
        text-align: center;
        
        a{
            text-decoration: none;
            color:white;
        }

        @media (min-width: 320px) {
            background-color: rgb(159, 108, 13);

            border-radius: 2px;
            font-size: 11px;
            position: right;
            border: none;
        }
    }
}

.featured{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 15px;
    gap: 10px;

    @media  (min-width: 320px){
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p{
            font-size: 15px;
            width: 10px;
        }

        a{
            text-decoration: none;
            color: black;
            border-bottom: 1px solid black;
        }
    }
}

/* Featured Courses */
#courses {
    background-color: #f8fafc1e; /* bg-slate-50 */
    color: white; /* text-orange-500 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    p {
        height: 7.5rem; /* h-30 */
        width: auto; /* w-80 */
        padding: 1rem; /* p-4 */
        text-wrap: wrap;
    }
    
}



/* Footer */
footer {
    border-top: 1px solid black; /* border-t-black */
    background-color: black;
    color: white;
    height: 83.333333%; /* h-5/6 */
    margin-top: 5rem; /* mt-20 */

    @media (min-width: 320px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 15px;
    }
}

#contact{
    display: flex;
    flex-direction: row;

    @media (min-width: 320px) {
        align-items: center;
        flex-direction: column;

    }
}

.leaf{
    display: flex;
  

    @media (min-width: 320px) {
        width: 100%;
        gap: 25px;
        
    }
}

.call{

    display: flex;
    @media (min-width:320px) {
        font-size: 10px;
  
        width: auto;
    }

    ul{
     
        list-style: none;
        padding: 5px;
    }

    li{
        text-wrap: wrap;
    }

    a{
        color: white;
        text-decoration: none;
    }
}
.logo{
    width: 200px;
    
}
    .socials{
        display: flex;


        @media (min-width: 320px) {
            font-size: 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 5px;
            margin: 5px;
        }
      
            }




#copywrite {
    background-color: #9ca3af; /* bg-gray-400 */
    display: flex;
    gap: 2px; /* space-x-10 */
    justify-content: center;
    align-items: center;
    height: 5rem; /* h-20 */
    flex-direction: column;

    @media (min-width: 320px) {
        width: 100%;
        padding: 15px;

        p{
            font-size: 12px;
        }

        .arrow{
            display: none;
        }
    }
}

#copywrite a:hover {
    text-decoration: underline; /* hover:underline */
}